
.masters {
    background-color: var(--second-background-color);
  }
  
  .masters__container{
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }

  .masters__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.17;
      margin-bottom: 50px;
    }
  }
  
  .masters__list {
    // display: flex;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-top: -30px;
      margin-left: -30px;
    }
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }
  
  .masters__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
      margin-top: 30px;
      margin-left: 30px;
      &:not(:last-child) {
        margin-bottom: 0px;
      }
    }
  }
  
  .masters__lead {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    margin-bottom: 10px;
  }
  
  .masters__specialty {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 16px;
  }
  
  .masters__wrap {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  
  .masters-social__list {
    display: flex;
    justify-content: center;
  }
  
  .masters-social__item {
    width: 44px;
    height: 44px;
  }
  
  .masters-social__item + .masters-social__item {
    margin-left: 10px;
  }
  
  .masters-social__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color-icon);
    transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
    &:hover,
    &:focus {
      background-color: var(--btn-text-color);
      color: var(--color-btn);
    }
  }
  
  .masters-social__icon {
    fill: currentColor;
  }
  

  