
.occupation {
    display: none;
    @media screen and (min-width: 1200px) {
      display: block;
    }
  }

  .occupation-container{
    padding-bottom: 94px;
    padding-top: 94px;
  }
  
  .occupation__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    margin-bottom: 50px;
  }
  
  .occupation__list {
    display: flex;
  }
  
  .occupation__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
    position: relative;
  }

  .occupation__text {
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-text-color);
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
  }