:root {
    --main-title-color: #212121;
    --btn-text-color: #2196f3;
    --main-text-color: #757575;
    --main-background-color: #2f303a;
    --second-text-color: #ffffff;
    --color-btn: #ffffff;
    --main-color-icon: #afb1b8;
    --second-background-color: #f5f4fa;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --modal-form-color: rgba(33, 33, 33, 0.2);
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  